<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Directs IIS to use Node.js for requests -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJs">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!-- Adjust maximum request length as needed -->
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="false" />
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
