<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Configure the node.js handler -->
            <add name="nodejs" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files (x86)\nodejs\node.exe" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <!-- Redirect to your app entry point (index.js) -->
                <rule name="Nodejs" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
